.modal-footer{
    justify-content: center !important;
}

.fila{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
}

.archivo{
    margin-right: 10px;
}

.modal-header{
    justify-content: center !important;
}

.form-control{
    border: 1px solid #C4C4C4 !important;
    color:#030303 !important ;
    background-color: #fff !important;
    margin-top: 10px;
    margin-bottom: 40px;
}

.form-label{
 color: #70AAAA;
}

.bts2 {
    background: linear-gradient(to right,rgba(234,179,50,1) 0%,rgba(221,139,46,1) 53%,rgba(202,120,48,1) 100%);
    /* background: linear-gradient(90deg, rgb(167, 220, 214)0%, rgb(11, 77, 91) 150%); */
    /* background: #93a5cf; background: -moz-linear-gradient(-40deg,  #93a5cf 0%,#e4efe9 100%); background: -webkit-linear-gradient(-40deg,  #93a5cf 0%,#e4efe9 100%); background: linear-gradient(-40deg,  #93a5cf 0%,#e4efe9 100%); */
    /* background: #6d94ca; background: -moz-linear-gradient(45deg,  #6d94ca 0%,#a8c1ef 100%); background: -webkit-linear-gradient(45deg,  #6d94ca 0%,#a8c1ef 100%); background: linear-gradient(45deg,  #6d94ca 0%,#a8c1ef 100%); */
    /* background: linear-gradient(90deg, rgba(146,89,63,1) 3%, rgba(195,152,118,1) 47%, rgba(208,172,138,1) 76%, rgba(255,255,255,1) 150%); */

    /* background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    /* background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);  */
    /* background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); */
    /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */
    /* background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%) !important; */
    /* background-image: radial-gradient(circle at 79.88% -14.09%, #fdfaf1 0, #fbf4e8 8.33%, #f9eedf 16.67%, #f7e6d5 25%, #f5deca 33.33%, #f4d4c0 41.67%, #f2c9b5 50%, #f0beac 58.33%, #efb4a5 66.67%, #edaaa1 75%, #eba19f 83.33%, #e9999f 91.67%, #e693a1 100%); */

    /* background-image: radial-gradient(circle at 79.88% -14.09%, #c79031 0, #c28131 12.5%, #b97232 25%, #ab6131 37.5%, #994f2f 50%, #853f2c 62.5%, #743229 75%, #652727 87.5%, #581f25 100%); */
    /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */
/* background: linear-gradient(90deg, rgba(148,187,233,1) 0%, rgba(222,194,159,1) 100%); */
}

.bts{
    /* background: linear-gradient(to right,rgba(46,93,143,1) 53%,rgba(46,93,143,1) 100%) */
    /* background: linear-gradient(to right,rgb(25 118 210) 53%,rgb(25 118 210) 100%) FOSFORECENTE */ 
    background: linear-gradient(to right,rgb(89 142 199) 53%,rgb(89 142 199) 100%)
    
}

.agregar{
    /* background: linear-gradient(90deg, rgba(189,177,142,1) 0%, rgba(189,177,142,1) 100%); */
    /* background: linear-gradient(90deg, rgba(188,144,111,1) 0%, rgba(188,144,111,1) 150%); */

    /* background: linear-gradient(90deg, rgba(250,243,224,1) 0%, rgba(250,243,224,1) 150%); */

background:#BDB18E !important ;
color: black !important;
border: 1px solid #BDB18E !important;
margin-top: 15px;
margin-bottom: 25px;
font-family: Roboto, sans-serif;
font-size: large;
}

.editar{

background: #70AAAA !important;
border: 1px solid #70AAAA !important;
}

.cancelar{
    border: 1px solid  #70AAAA  !important;
    color:#406e6e !important ;
    background-color: #fff !important;
}

.form-select{
    border: 1px solid #70AAAA !important;
    color:#030303 !important;
    background-color: #fff !important;
    margin-top: 10px;
}

.tit{
    color: #aea17a !important;
}

