.css-1aquho2-MuiTabs-indicator{
    background-color:#aea17a !important;
}
.css-1ujykiq-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #aea17a !important;
}

.titu{
    color: #aea17a !important;
    margin-top: 20px;
}

.subtitu{
color: #aea17a !important;
}

.css-ttwr4n{
    background-color:#aea17a !important;
}

.css-251er.Mui-selected{
    color:#aea17a !important;
}